@use "@/app/sass/variables";
@use "@/app/sass/responsive";
.icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: variables.$buttonColor;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    @include responsive.max{
        width: 20px;
        height: 20px;
    }
}